
    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area section-padding-100-0">
        <div class="container">
            <div class="row">

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-100">
                        <h5 class="widget-title">商工網</h5>
                        <!-- Nav -->
                        <nav>
                            <ul>
                                <li><a href="https://www.fbp.com.tw/">全國商工行政服務入口網</a></li>
                                <li><a href="https://www.moea.gov.tw/MNS/populace/home/Home.aspx">中華民國經濟部</a></li>
                                <li class="d-none"><a href="#">Services &amp; Offers</a></li>
                                <li class="d-none"><a href="#">Portfolio Presentation</a></li>
                                <li class="d-none"><a href="#">The News</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-100">
                        <h5 class="widget-title">金融網</h5>
                        <!-- Nav -->
                        <nav>
                            <ul>
                                <li><a href="https://www.fsc.gov.tw/ch/index.jsp">金融監度管理委員會</a></li>
                                <li><a href="http://mops.twse.com.tw/mops/web/index">公開資訊觀測站</a></li>
                                <li class="d-none"><a href="#">Banking &amp; Private Equity</a></li>
                                <li class="d-none"><a href="#">Industrial &amp; Factory</a></li>
                                <li class="d-none"><a href="#">Financial Solutions</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-100">
                        <h5 class="widget-title">稅務網</h5>
                        <!-- Nav -->
                        <nav>
                            <ul>
                                <li><a href="https://www.mof.gov.tw/">財政部</a></li>
                                <li><a href="https://www.etax.nat.gov.tw/etwmain/">財政部稅務入口網</a></li>
                                <li><a href="https://www.ntbna.gov.tw/etwmain/">財政部北區國稅局</a></li>
                                <li><a href="https://www.ntbca.gov.tw/etwmain/">財政部中區國稅局</a></li>
                                <li><a href="https://www.ntbsa.gov.tw/etwmain/">財政部南區國稅局</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3 d-none">
                    <div class="single-footer-widget mb-100">
                        <h5 class="widget-title">Latest News</h5>

                        <!-- Single News Area -->
                        <div class="single-latest-news-area d-flex align-items-center">
                            <div class="news-thumbnail">
                                <img src="wwwroot/cpoyVendor/credit/img/bg-img/7.jpg" alt="">
                            </div>
                            <div class="news-content">
                                <a href="#">How to get the best loan?</a>
                                <div class="news-meta">
                                    <a href="#" class="post-author"><img src="wwwroot/cpoyVendor/credit/img/core-img/pencil.png" alt=""> Jane Smith</a>
                                    <a href="#" class="post-date"><img src="wwwroot/cpoyVendor/credit/img/core-img/calendar.png" alt=""> April 26</a>
                                </div>
                            </div>
                        </div>

                        <!-- Single News Area -->
                        <div class="single-latest-news-area d-flex align-items-center">
                            <div class="news-thumbnail">
                                <img src="wwwroot/cpoyVendor/credit/img/bg-img/8.jpg" alt="">
                            </div>
                            <div class="news-content">
                                <a href="#">A new way to get a loan</a>
                                <div class="news-meta">
                                    <a href="#" class="post-author"><img src="wwwroot/cpoyVendor/credit/img/core-img/pencil.png" alt=""> Jane Smith</a>
                                    <a href="#" class="post-date"><img src="wwwroot/cpoyVendor/credit/img/core-img/calendar.png" alt=""> April 26</a>
                                </div>
                            </div>
                        </div>

                        <!-- Single News Area -->
                        <div class="single-latest-news-area d-flex align-items-center">
                            <div class="news-thumbnail">
                                <img src="wwwroot/cpoyVendor/credit/img/bg-img/9.jpg" alt="">
                            </div>
                            <div class="news-content">
                                <a href="#">Finance you home</a>
                                <div class="news-meta">
                                    <a href="#" class="post-author"><img src="wwwroot/cpoyVendor/credit/img/core-img/pencil.png" alt=""> Jane Smith</a>
                                    <a href="#" class="post-date"><img src="wwwroot/cpoyVendor/credit/img/core-img/calendar.png" alt=""> April 26</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Copywrite Area -->
        <div class="copywrite-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="copywrite-content d-flex flex-wrap justify-content-center align-items-center">
                            <!-- Footer Logo -->
                            <!-- <a href="index.html" class="footer-logo"><img src="wwwroot/cpoyVendor/credit/img/core-img/logo.png" alt=""></a> -->

                            <!-- Copywrite Text -->
                            <p class="copywrite-text"><a href="#">
                              Copyright &copy;<script>document.write(new Date().getFullYear());</script> by <a href="https://www.mterrace.com.tw" target="_blank">mTERRACE</a> All rights reserved
                              <!-- Copywrite Text -->
                              <p class="copywrite-text d-none"><a href="#"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                              Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->