<head>
  <meta charset="UTF-8" />
  <title>Document</title>
  <!-- Favicon -->
  <!-- <link rel="icon" href="wwwroot/cpoyVendor/credit/img/core-img/favicon.ico"> -->
  <link rel="stylesheet" href="wwwroot/cpoyVendor/credit/style.css" />
</head>
