    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 d-flex justify-content-between">
                        <!-- Logo Area -->
                        <div class="logo">
                            <a href="index.html"><img src="wwwroot/images/newLogo.jpg" alt=""></a>
                            <!-- <a href="index.html"><img src="wwwroot/cpoyVendor/credit/img/core-img/logo.png" alt=""></a> -->
                        </div>

                        <!-- Top Contact Info -->
                        <div class="top-contact-info d-flex align-items-center">
                            <a href="https://www.google.com.tw/maps/place/404%E5%8F%B0%E4%B8%AD%E5%B8%82%E5%8C%97%E5%8D%80%E6%A2%85%E4%BA%AD%E8%A1%97686%E8%99%9F/@24.1601041,120.6624242,17z/data=!3m1!4b1!4m5!3m4!1s0x34693d826ab280ab:0x5205501f749aaf92!8m2!3d24.1600992!4d120.6646129?hl=zh-TW" target="_blank" data-toggle="tooltip" data-placement="bottom" title="台中市西區梅亭街686號"><img src="wwwroot/cpoyVendor/credit/img/core-img/placeholder.png" alt=""> <span>(40353)台中市西區梅亭街686號</span></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="jacobchen0423@gmail.com"><img src="wwwroot/cpoyVendor/credit/img/core-img/message.png" alt=""> <span>jacobchen0423@gmail.com</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="credit-main-menu" id="sticker">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="creditNav">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="index.html">首頁</a></li>
                        ㄋ            <!-- <li><a href="about.html">About Us</a></li> -->
                                    <li><a href="#">仲品文章分享</a>
                                        <ul class="dropdown">
                                            <li><a href="articleShare.html">文章分享</a></li>
                                            <li><a href="index.html">Home</a></li>
                                            <li><a href="about.html">About Us</a></li>
                                            <li><a href="services.html">Services</a></li>
                                            <li><a href="post.html">Post</a></li>
                                            <li><a href="single-post.html">Single Post</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                            <li><a href="elements.html">Elements</a></li>
                                        </ul>
                                    </li>
                                    <!-- <li><a href="#">Pages</a>
                                        <ul class="dropdown">
                                            <li><a href="index.html">Home</a></li>
                                            <li><a href="about.html">About Us</a></li>
                                            <li><a href="services.html">Services</a></li>
                                            <li><a href="post.html">Post</a></li>
                                            <li><a href="single-post.html">Single Post</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                            <li><a href="elements.html">Elements</a></li>
                                        </ul>
                                    </li> -->
                                    <!-- <li><a href="services.html">Services</a></li>
                                    <li><a href="post.html">Blog</a></li> -->
                                    <li><a href="contactUs.html">聯繫仲品</a></li>
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>

                        <!-- Contact -->
                        <div class="contact">
                            <a href="#"><img src="wwwroot/cpoyVendor/credit/img/core-img/call2.png" alt=""> 0952-387482</a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->